<div class="container bg-info">
  <div class="card card-body list-unstyled">
    <h3><a [href]='current?.url'>{{current.name}}</a></h3> 
    <div class="row">
      <div class="col-sm-4">
        <img class="img-fluid img-thumbnail" [src]='current?.image' alt='movie-picture'>
      </div>
      <div class="col-sm-8">
        <ul class="list-group mb-2"> 
            <li class="list-group-item"><span class="text-info">Runtime: </span> {{current?.runtime}} minutes </li>
            <li class="list-group-item"><span class="text-info">Time:</span> {{current?.schedule}} </li>
            <li class="list-group-item"><span class="text-info">Day:</span> {{current?.days}} </li>
        <!-- </ul> -->
        <!-- <button class="btn btn-info btn-block" (click)="toggleHide(current)">
          <i [ngClass]="current.hide ? 'fa fa-arrow-up' : 'fa fa-arrow-down'" aria-hidden="true"></i></button>
        <div  *ngIf="current.hide"> -->
          <!-- <ul class="list-group"> -->
            <li class="list-group-item"><span class="text-info">Language: </span> {{current?.language}}</li>
            <li class="list-group-item"><span class="text-info">Genres: </span>{{current?.genres}}</li>
            <li class="list-group-item"><span class="text-info">Site: </span><a [href]='current?.officialSite'>{{current?.officialSite}}</a></li> 
            <li class="list-group-item"><span class="text-info">Description: </span><div [innerHTML]="current?.summary"></div> </li>
            
          </ul>
         <!--  <div class="border border-white">
            <div><span class="text-info">Description: </span> {{current?.summary}} </div>
          </div>    -->
        <!-- </div>     -->
                                
        
           
      </div>
    </div>   
  </div>
</div>




<!-- <h2>
  TV Show Result:
</h2>
<div>
  <div>
    <h3><a [href]='current?.url'>{{current.name}}</a></h3> yes
    <span>Runtime: </span><span>{{current?.runtime}} minutes</span><br/>yes
    <span>Language: </span><span>{{current?.language}}</span><br/>yes
    <span>Genres: </span><span>{{current?.genres}}</span><br/>yes
    <span>Days: </span><span>{{current?.days}}</span><br/>yes
    <span>Time: </span><span>{{current?.schedule}}</span><br/>
    <span></span><br/>yes
    <span>{{current?.officialSite}}</span><br/>
  </div>
  <div>
    <img [src]='current?.image'/>yes
  </div>
</div> -->