<!-- <form>
   <div class="search-box">
    <input class="search-txt text-info" type="text" placeholder="Enter movie name" [formControl]="search" />
    <a class="search-btn bg-info" href="#">
        <i class="fa fa-search" aria-hidden="true"></i>
    </a>
  </div> 
</form>  -->

 <form class="form-inline active-cyan-3 active-cyan-4">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-md ml-3 w-75" type="text" placeholder="Enter movie name" [formControl]="search">
</form> 

